// Cores Primarias
$p0: #040c06;
$p1: #134611;
$p2: #3e8914;
$p3: #3da35d;
$p4: #96e072;
$p5: #e8fccf;

// Cores Base
$c1: #1a1a1a;
$c2: #302f2f;
$c3: #585858;
$c4: #8a8787;
$c5: #cdcccc;
$c6: #f3eeee;

// Gradientes
$g1: linear-gradient(135deg, #3da35d 0%, #134611 100%);
$g2: linear-gradient(125.97deg, #15391F 0%, #040C06 100%);
