.btn-primario {
  background: linear-gradient(135deg, #3da35d 0%, #134611 100%);
  border-radius: 4px;
  color: $c6;
  font-family: "Mukta", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px 14px;
}
