* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  border: none;
}

ul {
  list-style: none;
}

li, a {
  text-decoration: none;
}
