.text-nav {
  font-family: "Mukta", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $c6;
}
.text-home-h1 {
  font-family: "Saira", sans-serif;
  font-size: 4rem;
  line-height: 1rem;
}
.text-home-h2 {
  font-family: "Saira", sans-serif;
  font-size: 2.5rem;
  line-height: 1rem;
}
.text-home-h3 {
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.text-home-h4 {
  font-family: "Saira", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.text-home-p {
  font-family: "Mukta", sans-serif;
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.text-faq {
  font-family: "Mukta", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
